<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/main.css">
  <title>:: iamjesco ::</title>
</head>
<body>

<section class="section about" id="about">

	<div class="about_header">
		about <i>me</i>
	</div>

		<div class="about_image">
			<img src="../static/images/jurgen-circle.svg" alt="">

		</div>

		<div class="about_text">
			<p>My name is Jurgen Escobar and I’m a self-taught Web Developer. I've been making websites since 2006, and currently living in Curacao.</p>

			<p>My main area of expertise lies in developing web, mobile & tablet interfaces.
			But I also have skills in other fields such as web-design and branding. </p>

			<p>I’m also a certified QA tester with manual and automation knowledge, which
			means that I can assure that a project will contain the least amount of bugs
			during its trajectory from concept to completion.</p>

			<h1>spoken <i>languages</i></h1>
			<div><span>Papiamento</span><span>Native</span></div>
			<div><span>Dutch</span><span>Fluent</span></div>
			<div><span>English</span><span>Fluent</span></div>
			<div><span>Spanish</span><span>Good</span></div>

			<h1>working <i>style</i></h1>

			<p>I follow the Agile methodology. This type of approach combined with tools like Kanban helps me to quickly develop apps and keeps clients informed about the progress.</p>

		</div>
</section>

<script src="../static/scripts/globals.js"></script>

</body>
</html>
